* {
  box-sizing: border-box;
}

body {
  font-size: 0.75rem;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  width: 95%;
}

main {
  margin: 0 auto;
  width: 95%;
}

.banner {
  background-color: pink;
  border: 2px solid red;
  text-align: center;
}

.display-status {
  display: none;
}

.note-options {
  border: 2px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 15px;
  padding: 10px;
}

.note-options > div {
  margin: 5px 0;
}

select {
  font-family: inherit;
  font-size: inherit;
  width: 5rem;
}

button {
  font-family: inherit;
  font-size: 0.95rem;
  margin: 3px 0;
}

.note-detail {
  border: 2px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.note-detail-panel {
  padding: 10px;
}

.note-finger-options {
}

.note-finger-explanation {
}

.note-finger-chart {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px;
}

.key-item-roller {
  display: flex;
  flex-flow: column nowrap;
}

.key-item-roller > svg {
  margin-bottom: 0.125rem;
}

.key-name {
  font-family: sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  transform: rotate(-90deg);
}

.key-lower {
  margin-top: 55px;
}

.key-name-lower {
  font-family: sans-serif;
  font-size: 0.65rem;
  font-weight: bold;
  transform: rotate(-90deg);
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  select {
    width: 8rem;
  }

  .note-options {
    flex-direction: unset;
    font-size: inherit;
    justify-content: space-around;
  }

  .note-detail {
    display: flex;
    flex-direction: row;
  }

  .note-detail-panel:first-child {
    border-bottom: none;
    border-right: 1px solid grey;
    width: 30%;
  }

  .note-detail-panel:last-child {
    width: calc(100% - 10px);
  }
}
