body {
    font-size: 2rem;
    margin: 0 auto;
}

header {
    margin: 5%;
}

main {
    border: 1px solid grey;
    margin: 5%;
}

#note-name {
    border-bottom: 1px solid grey;
}

#note-detail {
    display: flex;
    flex-flow: row nowrap;
}

#pane-one {
    border-right: 1px solid grey;
    width: 25%;
}

#pane-two {

}

/* media query for generic tablet */
@media only screen and (min-width: 600px) {
    main {
        
    }
}

/* media query for generic desktop */
@media only screen and (min-width: 768px) {
    main {

    }
}

/* media query for less than 300px */
@media only screen and (max-width: 299px) {
    main {
        
    }
}