main {
    border: 1px solid grey;
}

.one-third {
    width: 33%;
}

.two-third {
    width: 66%
}

#note-name {
    border-bottom: 1px solid grey;
}

#note-detail {
    display: flex;
    flex-flow: row nowrap;
}

#pane-one {
    border-right: 1px solid grey;
}

/* media query for generic tablet */
@media only screen and (min-width: 600px) {
    main {
        
    }
}

/* media query for generic desktop */
@media only screen and (min-width: 768px) {
    main {

    }
}

/* media query for less than 300px */
@media only screen and (max-width: 299px) {
    main {
        
    }
}